@page "/players/add"
@using Jeux.Data
@inject PlayerService PlayerService
@inject NavigationManager NavigationManager
<PageTitle>Créer un jeu</PageTitle>

<form @onsubmit="Save">
<div class="form-group">
        <label for="name">Nom</label>
        <input type="text" class="form-control" id="name" placeholder="Nom du jeu" @bind="Player.Name">
    </div>
    <button type="submit" class="btn btn-primary" disabled="@Saving">Ajouter</button>
</form>

@code{
    private Player Player = new Player
    {
        Name = "",
    };
    private bool Saving { get; set; } = false;

    protected async Task Save()
    {
        Saving = true;
        try
        {
            await PlayerService.Add(Player);
            NavigationManager.NavigateTo("/players");
        }
        finally
        {
            Saving = false;
        }
    }
}